/* line 11, ../scss/ui.multiselect.scss */
.ui-multiselect {
  width: 400px;
  height: 300px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 17, ../scss/ui.multiselect.scss */
.ui-multiselect .ui-widget-header {
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
  text-align: right;
  padding: 3px;
}

/* line 25, ../scss/ui.multiselect.scss */
.ui-multiselect .ui-widget-content {
  border: none;
}

/* line 29, ../scss/ui.multiselect.scss */
.ui-multiselect .ui-widget-content .ui-widget-header {
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

/* line 40, ../scss/ui.multiselect.scss */
.ui-multiselect-selected-header,
.ui-multiselect-choices-header,
.ui-multiselect-selected,
.ui-multiselect-choices {
  float: left;
  width: 49%;
}

/* line 45, ../scss/ui.multiselect.scss */
.ui-multiselect-body {
  position: relative;
  height: 100%;
  overflow: hidden;
  *zoom: 1;
}

/* line 55, ../scss/ui.multiselect.scss */
.ui-multiselect-body.ui-state-default,
.ui-multiselect-selected.ui-state-default,
.ui-multiselect-choices.ui-state-default {
  background: #fff;
}

/* line 62, ../scss/ui.multiselect.scss */
.ui-multiselect-selected-header,
.ui-multiselect-choices-header {
  text-align: center;
  position: absolute;
  top: 0;
  width: 50%;
  overflow: hidden;
  font-size: 12px;
  line-height: 22px;
}

/* line 73, ../scss/ui.multiselect.scss */
.ui-multiselect-selected,
.ui-multiselect-choices {
  position: absolute;
  top: 22px;
  bottom: 0;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 83, ../scss/ui.multiselect.scss */
.ui-multiselect-selected-header,
.ui-multiselect-selected {
  left: 0;
}

/* line 88, ../scss/ui.multiselect.scss */
.ui-multiselect-choices-header,
.ui-multiselect-choices {
  left: 50%;
}

/* line 93, ../scss/ui.multiselect.scss */
.ui-multiselect-selected-header,
.ui-multiselect-selected {
  border-top: none;
  border-bottom: none;
  border-left: none;
}

/* line 100, ../scss/ui.multiselect.scss */
.ui-multiselect-choices-header,
.ui-multiselect-choices {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

/* line 106, ../scss/ui.multiselect.scss */
.ui-multiselect-item {
  position: relative;
  font-size: 11px;
  line-height: 17px;
  padding: 3px 3px 3px 20px;
  cursor: pointer;
}
/* line 115, ../scss/ui.multiselect.scss */
.ui-multiselect-item.ui-state-default, .ui-multiselect-item.ui-state-hover {
  border-top: none;
  border-left: none;
  border-right: none;
}
/* line 121, ../scss/ui.multiselect.scss */
.ui-multiselect-item .ui-icon {
  position: absolute;
  top: 50%;
  left: 3px;
  margin-top: -8px;
}
